/Flights_WS/nbproject/private/
/LocalWS/build/
/LocalWS/nbproject/private/
/HealthProcessorClient/build/
/HealthProcessorClient/nbproject/private/
/HealthProcessorServer/build/
/HealthProcessorServer/dist/
/HealthProcessorServer/nbproject/private/
/FlightsClient/build/
/FlightsClient/dist/
/FlightsClient/nbproject/private/